# do not change these - these are files that need to get be ignored from the server
HomericShipOars/
HomericShipSail/
*.zip
museum_objects/
voyager/
*.vscode
Writerside # this for a documentation library I'm messing around with, only temporary - Henry 10/31/2023